@using FARSIMAN.Models
@{
    Helpers Login = new Helpers();

    List<tbUser> User = Login.getUserInformation();

}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="logo-element">
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto" id="side-menu">
            <li class="@Html.IsSelected(action: "Index") nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Employee")" aria-current="page"><i class="nav-label fa fa-users fa-fw"></i>Empleado<span class="nav-label"></span> </a>
            </li>
            <li class="@Html.IsSelected(action: "Index") nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Travel")" aria-current="page"><i class="nav-label fa fa-bus fa-fw"></i>Viajes<span class="nav-label"></span> </a>
        </ul>
    </div>
</nav>





